db_exceptions/src/main/app/db_exceptions.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:core="http://www.mulesoft.org/schema/mule/core" xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:jdbc-ee="http://www.mulesoft.org/schema/mule/ee/jdbc" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.4.1"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/jdbc http://www.mulesoft.org/schema/mule/ee/jdbc/current/mule-jdbc-ee.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">
    <jdbc-ee:oracle-data-source name="Oracle_Data_Source" user="soa" password="soa" url="jdbc:oracle:thin:@//localhost:1521/XE" transactionIsolation="UNSPECIFIED" doc:name="Oracle Data Source"/>
    <jdbc-ee:connector name="OracleDB" dataSource-ref="Oracle_Data_Source" validateConnections="true" queryTimeout="-1" pollingFrequency="0" doc:name="Database">
    	<reconnect frequency="1000" count="3" />
        <jdbc-ee:query key="getOrders" value="select * from ORDERS1"/>
    </jdbc-ee:connector>
    <spring:beans>
        <spring:bean id="objectStore" class="org.mule.util.store.SimpleMemoryObjectStore"/>
    </spring:beans>
    <jms:activemq-connector name="Active_MQ" brokerURL="tcp://localhost:61616" validateConnections="true" doc:name="Active MQ"/>
    <flow name="db_exceptionsFlow" doc:name="db_exceptionsFlow" >
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" path="orders" doc:name="HTTP"/>
        <until-successful objectStore-ref="objectStore" maxRetries="5"  secondsBetweenRetries="10" doc:name="Until Successful">
	        <jdbc-ee:outbound-endpoint exchange-pattern="request-response" queryKey="getOrders" queryTimeout="-1" connector-ref="OracleDB" doc:name="Database"/>
        </until-successful>
        <mulexml:object-to-xml-transformer doc:name="Object to XML"/>
	    <catch-exception-strategy doc:name="Catch Exception Strategy">
            <jms:outbound-endpoint queue="errorQueue" connector-ref="Active_MQ" doc:name="JMS"/>
	    </catch-exception-strategy>
    </flow>
    <flow name="db_retryFlow" doc:name="db_retryFlow" >
    	<jms:inbound-endpoint connector-ref="Active_MQ" queue="errorQueue" doc:name="JMS" exchange-pattern="request-response"/>
    	<logger level="INFO" message="#[message.payload]" doc:name="Logger"/>
    </flow>
</mule>
